In [1]:
import os
import wget
import zipfile
import shutil
import glob
import re
import csv
import pandas as pd
import numpy as np
import pymysql
import sqlalchemy
from sklearn.preprocessing import scale
import matplotlib.pyplot as plt
from sklearn.naive_bayes import GaussianNB, BernoulliNB, MultinomialNB

In [2]:
conn = pymysql.connect(
    host = '127.0.0.1',
    port = 3306,
    user = 'root',
    passwd = 'root',
    db = 'f1test'
)

cur = conn.cursor()

e = sqlalchemy.create_engine("mysql+pymysql://root:root@localhost/f1test")

# Querying DF to start predictive stuff
#### Things to Try:
1. Logistic
2. Recode Categorical Vars -> SVM/Tree/RF (NN? Probably not big enough)
3. Other Stuff 

Asside: We don't have enough data to do any TS stuff

In [3]:
query = '''with 
base as (
	select
		re.race_id + 1 as upcoming_race, ra.year as prior_race_year, re.race_id as prior_race
		, concat(re.race_id, '-', re.driver_id) as comp_key
		, re.driver_id, re.constructor_id
		, re.points as prior_points_driver
		, re.position as prior_position_driver
		, cr.points as prior_points_constructor
	from results re
	  join races ra
		on re.race_id = ra.race_id
	  join constructor_results cr
		on re.race_id = cr.race_id and re.constructor_id = cr.constructor_id
	  join driver_standings ds
		on re.race_id = ds.race_id and re.driver_id = ds.driver_id
	  where ra.year = 2018
),
step1_zscore as (
	  select 
        lt.race_id, lt.driver_id, lt.milliseconds
		, avg(lt.milliseconds) OVER (partition by lt.race_id) as ms_avg_race
		, stddev(lt.milliseconds) OVER (partition by lt.race_id) as sd_ms
		, concat(lt.race_id, '-', lt.driver_id) as fk
	  from lap_times lt
		join races ra
		  on lt.race_id = ra.race_id
		where ra.year = 2018
),
z_score as (
	  select  
		avg((milliseconds - ms_avg_race) / sd_ms) as scaled_performance, fk
	  from step1_zscore
	  group by fk
),
quali as (
	  select 
		race_id, driver_id
		, substring_index(q1, ':', 1)*60*1000 as q1_min_ms
		, substring_index(substring_index(q1, '.', 1), ':', -1) * 1000 as q1_sec_ms
		, substring_index(q1, '.', -1) as q1_ms
		, substring_index(q2, ':', 1)*60*1000 as q2_min_ms
		, substring_index(substring_index(q2, '.', 1), ':', -1) * 1000 as q2_sec_ms
		, substring_index(q2, '.', -1) as q2_ms
		, substring_index(q3, ':', 1)*60*1000 as q3_min_ms
		, substring_index(substring_index(q3, '.', 1), ':', -1) * 1000 as q3_sec_ms
		, substring_index(q3, '.', -1) as q3_ms
		, position as prior_pole_position_quali
      from qualifying
),
quali_step_1 as (
	  select
		race_id, driver_id
        , prior_pole_position_quali
		, q1_min_ms + q1_sec_ms + q1_ms as q1_ms_tot
        , q2_min_ms + q2_sec_ms + q2_ms as q2_ms_tot
        , q3_min_ms + q3_sec_ms + q3_ms as q3_ms_tot
	  from quali		
),
quali_avgs as (
	  select
		race_id, driver_id
        , prior_pole_position_quali
        , q1_ms_tot
        , q2_ms_tot
        , q3_ms_tot
        , avg(q1_ms_tot) over (partition by race_id) as q1_avg
        , avg(q2_ms_tot) over (partition by race_id) as q2_avg
        , avg(q3_ms_tot) over (partition by race_id) as q3_avg
        , stddev(q1_ms_tot) over (partition by race_id) as q1_sd
        , stddev(q2_ms_tot) over (partition by race_id) as q2_sd
        , stddev(q3_ms_tot) over (partition by race_id) as q3_sd
        from quali_step_1
),
quali_z as (
	  select
		concat(race_id, '-', driver_id) as fk
        , prior_pole_position_quali as prior_pole_position
        , race_id, driver_id
        , (q1_ms_tot - q1_avg)/q1_sd as q1_z
        , (q2_ms_tot - q2_avg)/q2_sd as q2_z
        , (q3_ms_tot - q3_avg)/q3_sd as q3_z
        from quali_avgs
)
select
	d.surname, c.constructor_ref as constructor_name
    , ra.year as upcoming_race_year -- Just to double check for backtesting (cant predict the first race of the next year with the last race of the prior year)
    , b.*
    , z.scaled_performance as prior_race_scaled_performance
    , q.q1_z, q.q2_z, q.q3_z
    , q.prior_pole_position
    , re.position as upcoming_race_result
from base b
  left join driver d
    on b.driver_id = d.driver_id
  left join constructors c
    on b.constructor_id = c.constructor_id
  left join races ra
    on b.upcoming_race = ra.race_id
  left join z_score z
    on b.comp_key = z.fk
  left join quali_z q
	on b.comp_key = q.fk
  left join results re
	on b.upcoming_race = re.race_id and b.driver_id = re.driver_id
order by surname, prior_race asc;'''

In [4]:
base_query = pd.read_sql_query(query, e)
base_query.head()

,surname,constructor_name,upcoming_race_year,upcoming_race,prior_race_year,prior_race,comp_key,driver_id,constructor_id,prior_points_driver,prior_position_driver,prior_points_constructor,prior_race_scaled_performance,q1_z,q2_z,q3_z,prior_pole_position,upcoming_race_result
0,Alonso,mclaren,2018,990,2018,989,989-4,4,1,10.0,5,12.0,-0.012672,-0.620540,0.602592,NaN,11,7
1,Alonso,mclaren,2018,991,2018,990,990-4,4,1,6.0,7,10.0,-0.006092,0.472177,0.672777,-0.999926,13,7
2,Alonso,mclaren,2018,992,2018,991,991-4,4,1,6.0,7,6.0,-0.016923,-0.208423,0.588669,-0.999952,13,7
3,Alonso,mclaren,2018,993,2018,992,992-4,4,1,6.0,7,8.0,0.023226,0.211804,0.384449,NaN,13,8
4,Alonso,mclaren,2018,994,2018,993,993-4,4,1,4.0,8,4.0,-0.011290,-0.182845,0.358434,1.105533,8,\N

In [5]:
base_query_1 = base_query

# DNF for all \N values
base_query_1 = base_query_1.replace(to_replace = '\\N', value = "DNF")

#21 = DNF
base_query_1["prior_position_driver"] = base_query_1["prior_position_driver"].replace('DNF', 21)

base_query_1.head()

,surname,constructor_name,upcoming_race_year,upcoming_race,prior_race_year,prior_race,comp_key,driver_id,constructor_id,prior_points_driver,prior_position_driver,prior_points_constructor,prior_race_scaled_performance,q1_z,q2_z,q3_z,prior_pole_position,upcoming_race_result
0,Alonso,mclaren,2018,990,2018,989,989-4,4,1,10.0,5,12.0,-0.012672,-0.620540,0.602592,NaN,11,7
1,Alonso,mclaren,2018,991,2018,990,990-4,4,1,6.0,7,10.0,-0.006092,0.472177,0.672777,-0.999926,13,7
2,Alonso,mclaren,2018,992,2018,991,991-4,4,1,6.0,7,6.0,-0.016923,-0.208423,0.588669,-0.999952,13,7
3,Alonso,mclaren,2018,993,2018,992,992-4,4,1,6.0,7,8.0,0.023226,0.211804,0.384449,NaN,13,8
4,Alonso,mclaren,2018,994,2018,993,993-4,4,1,4.0,8,4.0,-0.011290,-0.182845,0.358434,1.105533,8,DNF

In [6]:
# Fill missing Values for Quali data
base_query_1.q1_z.max() # 2.6718442273878935

q1_z_max = 3

base_query_1['q1_z'] = base_query_1['q1_z'].fillna(q1_z_max)
base_query_1['q2_z'] = base_query_1['q2_z'].fillna(base_query_1.q1_z)
base_query_1['q3_z'] = base_query_1['q3_z'].fillna((base_query_1.q1_z + base_query_1.q1_z)/2)
base_query_1['q_z_avg'] = (base_query_1.q1_z + base_query_1.q2_z + base_query_1.q3_z)/3

# Creating bool column indicating win
base_query_1['pred_win'] = np.where(base_query_1.upcoming_race_result == '1', 1, 0)

base_query_1.head()

,surname,constructor_name,upcoming_race_year,upcoming_race,prior_race_year,prior_race,comp_key,driver_id,constructor_id,prior_points_driver,prior_position_driver,prior_points_constructor,prior_race_scaled_performance,q1_z,q2_z,q3_z,prior_pole_position,upcoming_race_result,q_z_avg,pred_win
0,Alonso,mclaren,2018,990,2018,989,989-4,4,1,10.0,5,12.0,-0.012672,-0.620540,0.602592,-0.620540,11,7,-0.212829,0
1,Alonso,mclaren,2018,991,2018,990,990-4,4,1,6.0,7,10.0,-0.006092,0.472177,0.672777,-0.999926,13,7,0.048342,0
2,Alonso,mclaren,2018,992,2018,991,991-4,4,1,6.0,7,6.0,-0.016923,-0.208423,0.588669,-0.999952,13,7,-0.206569,0
3,Alonso,mclaren,2018,993,2018,992,992-4,4,1,6.0,7,8.0,0.023226,0.211804,0.384449,0.211804,13,8,0.269352,0
4,Alonso,mclaren,2018,994,2018,993,993-4,4,1,4.0,8,4.0,-0.011290,-0.182845,0.358434,1.105533,8,DNF,0.427041,0

In [7]:
# Drop DNF, will not use for train or test sets
base_query_1 = base_query_1[base_query_1.upcoming_race_result != 'DNF']
base_query_1.head()

,surname,constructor_name,upcoming_race_year,upcoming_race,prior_race_year,prior_race,comp_key,driver_id,constructor_id,prior_points_driver,prior_position_driver,prior_points_constructor,prior_race_scaled_performance,q1_z,q2_z,q3_z,prior_pole_position,upcoming_race_result,q_z_avg,pred_win
0,Alonso,mclaren,2018,990,2018,989,989-4,4,1,10.0,5,12.0,-0.012672,-0.620540,0.602592,-0.620540,11,7,-0.212829,0
1,Alonso,mclaren,2018,991,2018,990,990-4,4,1,6.0,7,10.0,-0.006092,0.472177,0.672777,-0.999926,13,7,0.048342,0
2,Alonso,mclaren,2018,992,2018,991,991-4,4,1,6.0,7,6.0,-0.016923,-0.208423,0.588669,-0.999952,13,7,-0.206569,0
3,Alonso,mclaren,2018,993,2018,992,992-4,4,1,6.0,7,8.0,0.023226,0.211804,0.384449,0.211804,13,8,0.269352,0
6,Alonso,mclaren,2018,996,2018,995,995-4,4,1,0.0,21,0.0,0.229205,0.380283,1.465368,0.380283,14,16,0.741978,0

In [8]:
f1_2018 = base_query_1

# fill missing scaled performance with .5 (a little worse than average)
f1_2018['prior_race_scaled_performance'] = f1_2018['prior_race_scaled_performance'].fillna(.5)

f1_2018.head()

,surname,constructor_name,upcoming_race_year,upcoming_race,prior_race_year,prior_race,comp_key,driver_id,constructor_id,prior_points_driver,prior_position_driver,prior_points_constructor,prior_race_scaled_performance,q1_z,q2_z,q3_z,prior_pole_position,upcoming_race_result,q_z_avg,pred_win
0,Alonso,mclaren,2018,990,2018,989,989-4,4,1,10.0,5,12.0,-0.012672,-0.620540,0.602592,-0.620540,11,7,-0.212829,0
1,Alonso,mclaren,2018,991,2018,990,990-4,4,1,6.0,7,10.0,-0.006092,0.472177,0.672777,-0.999926,13,7,0.048342,0
2,Alonso,mclaren,2018,992,2018,991,991-4,4,1,6.0,7,6.0,-0.016923,-0.208423,0.588669,-0.999952,13,7,-0.206569,0
3,Alonso,mclaren,2018,993,2018,992,992-4,4,1,6.0,7,8.0,0.023226,0.211804,0.384449,0.211804,13,8,0.269352,0
6,Alonso,mclaren,2018,996,2018,995,995-4,4,1,0.0,21,0.0,0.229205,0.380283,1.465368,0.380283,14,16,0.741978,0

In [9]:
#### WONT BE NEEDING THIS, GOOD FOR FUTURE REF THOUGH


# Rank group by driver for future weighted average
f1_2018["rank"] = f1_2018.groupby("surname")["prior_race"].rank("dense", ascending=True)

f1_2018.head()

,surname,constructor_name,upcoming_race_year,upcoming_race,prior_race_year,prior_race,comp_key,driver_id,constructor_id,prior_points_driver,...,prior_points_constructor,prior_race_scaled_performance,q1_z,q2_z,q3_z,prior_pole_position,upcoming_race_result,q_z_avg,pred_win,rank
0,Alonso,mclaren,2018,990,2018,989,989-4,4,1,10.0,...,12.0,-0.012672,-0.620540,0.602592,-0.620540,11,7,-0.212829,0,1.0
1,Alonso,mclaren,2018,991,2018,990,990-4,4,1,6.0,...,10.0,-0.006092,0.472177,0.672777,-0.999926,13,7,0.048342,0,2.0
2,Alonso,mclaren,2018,992,2018,991,991-4,4,1,6.0,...,6.0,-0.016923,-0.208423,0.588669,-0.999952,13,7,-0.206569,0,3.0
3,Alonso,mclaren,2018,993,2018,992,992-4,4,1,6.0,...,8.0,0.023226,0.211804,0.384449,0.211804,13,8,0.269352,0,4.0
6,Alonso,mclaren,2018,996,2018,995,995-4,4,1,0.0,...,0.0,0.229205,0.380283,1.465368,0.380283,14,16,0.741978,0,5.0

In [10]:
# Make Position Numerical
f1_2018['prior_position_driver'] = pd.to_numeric(f1_2018.prior_position_driver)
f1_2018['prior_pole_position'] = pd.to_numeric(f1_2018.prior_pole_position)

### Testing methods to get weighted averages

In [11]:
test_1 = f1_2018[['surname', 'prior_race', 'prior_points_driver', 'prior_points_constructor', 'rank']]
test_1.head()

  surname  prior_race  prior_points_driver  prior_points_constructor  rank
0  Alonso         989                 10.0                      12.0   1.0
1  Alonso         990                  6.0                      10.0   2.0
2  Alonso         991                  6.0                       6.0   3.0
3  Alonso         992                  6.0                       8.0   4.0
6  Alonso         995                  0.0                       0.0   5.0

In [12]:
test = test_1.copy() # prevents setting with copy warning. Should probably use iloc but whatever
# test
# test['harmonic_base'] = test['rank']
# test['geometric_base'] = test['rank'] ** 2

# test['harmonic_divis'] = test.groupby('surname')['harmonic_base'].cumsum(axis = 0)
# test['geometric_divis'] = test.groupby('surname')['geometric_base'].cumsum(axis = 0)

# test['harmonic_w'] = test['prior_points_driver'] * test['harmonic_base']
# test['geometric_w'] = test['prior_points_driver'] * test['geometric_base']

# test['harmonic_sum'] = test.groupby('surname')['harmonic_w'].cumsum(axis = 0)
# test['geometric_sum'] = test.groupby('surname')['geometric_w'].cumsum(axis = 0)

# test['harmonic_final'] = test['harmonic_sum'] / test ['harmonic_divis']
# test['geometric_final'] = test['geometric_sum'] / test ['geometric_divis']

test[['exp_driver', 'exp_construct']] = test.groupby('surname').apply(lambda x: x[['prior_points_driver', 'prior_points_constructor']].ewm(alpha = .3).mean())
#df[["metric1_ewm", "metric2_ewm"]] = df.groupby("person").apply(lambda x: x[["metric1", "metric2"]].ewm(span=60).mean())

test.head()
# test.sort_values(by = ['surname','prior_race'], ascending = [True, True]).head() # Just making sure it sorted right

,surname,prior_race,prior_points_driver,prior_points_constructor,rank,exp_driver,exp_construct
0,Alonso,989,10.0,12.0,1.0,10.000000,12.000000
1,Alonso,990,6.0,10.0,2.0,7.647059,10.823529
2,Alonso,991,6.0,6.0,3.0,6.894977,8.621005
3,Alonso,992,6.0,8.0,4.0,6.541650,8.375839
6,Alonso,995,0.0,0.0,5.0,4.182684,5.355451

### Actually make columns

In [13]:
f1_2018.columns

Index(['surname', 'constructor_name', 'upcoming_race_year', 'upcoming_race',
       'prior_race_year', 'prior_race', 'comp_key', 'driver_id',
       'constructor_id', 'prior_points_driver', 'prior_position_driver',
       'prior_points_constructor', 'prior_race_scaled_performance', 'q1_z',
       'q2_z', 'q3_z', 'prior_pole_position', 'upcoming_race_result',
       'q_z_avg', 'pred_win', 'rank'],
      dtype='object')

In [16]:
cols_for_exp = ['prior_points_driver', 'prior_position_driver', 'prior_points_constructor' 
               , 'prior_race_scaled_performance', 'prior_pole_position', 'q_z_avg']

exp_cols = ['exp_points_driver', 'exp_posistion_driver', 'exp_points_constructor', 
         'exp_race_scaled_performance', 'exp_pole_position', 'exp_q']


# Create exp smoothed covariates
f1_2018[exp_cols] = f1_2018.groupby('surname').apply(lambda x: x[cols_for_exp].ewm(alpha = .3).mean())

# Remove exp_q since it is already scaled, dont want to rescale
exp_cols.remove('exp_q')

##### PROBLEM HERE PROBABLY
# Scale the exp smoothed columns
# f1_2018[exp_cols] = pd.DataFrame(scale(f1_2018[exp_cols]), columns = exp_cols)



# f1_2018_covariates = pd.DataFrame(f1_2018, columns = exp_cols)
f1_2018.head()

,surname,constructor_name,upcoming_race_year,upcoming_race,prior_race_year,prior_race,comp_key,driver_id,constructor_id,prior_points_driver,...,upcoming_race_result,q_z_avg,pred_win,rank,exp_points_driver,exp_posistion_driver,exp_points_constructor,exp_race_scaled_performance,exp_pole_position,exp_q
0,Alonso,mclaren,2018,990,2018,989,989-4,4,1,10.0,...,7,-0.212829,0,1.0,10.000000,5.000000,12.000000,-0.012672,11.000000,-0.212829
1,Alonso,mclaren,2018,991,2018,990,990-4,4,1,6.0,...,7,0.048342,0,2.0,7.647059,6.176471,10.823529,-0.008802,12.176471,-0.059199
2,Alonso,mclaren,2018,992,2018,991,991-4,4,1,6.0,...,7,-0.206569,0,3.0,6.894977,6.552511,8.621005,-0.012510,12.552511,-0.126491
3,Alonso,mclaren,2018,993,2018,992,992-4,4,1,6.0,...,8,0.269352,0,4.0,6.541650,6.729175,8.375839,0.001598,12.729175,0.029783
6,Alonso,mclaren,2018,996,2018,995,995-4,4,1,0.0,...,16,0.741978,0,5.0,4.182684,11.875338,5.355451,0.083675,13.187444,0.286606

In [17]:
# Trim the DF
keep_cols = ['prior_race', 'surname', 'constructor_name', 'exp_points_driver', 'exp_posistion_driver',
             'exp_points_constructor', 'exp_race_scaled_performance', 'exp_pole_position', 'exp_q',
             'pred_win', 'upcoming_race_result']

f1_before_dummies = f1_2018[keep_cols].copy()

In [ ]:
# GOOD FOR FUTURE REFERENCE IF NEEDED


# f1_feature_e = f1_2018.copy()

# cols = ['prior_points_driver', 'prior_position_driver']
# # , 'prior_points_constructor', 'prior_position_constructor'
# #        ,'prior_race_scaled_performacnce', 'prior_pole_posistion', 'q_z_avg']


# for col in cols:

#     base = col + '_' + 'geometric' + '_base'
#     divis = col + '_' + 'geometric' + '_divis'
#     weights = col + '_' + 'geometric' + '_weights'
#     sum_w = col + '_' + 'geometric' + '_sum_w'
#     final = col + '_' + 'geometric' + '_final'
    
#     f1_feature_e[base] = f1_feature_e['rank']
#     f1_feature_e[divis] = f1_feature_e.groupby('surname')[base].cumsum(axis = 0)
#     f1_feature_e[weights] = f1_feature_e[col] * f1_feature_e[base]
#     f1_feature_e[sum_w] = f1_feature_e.groupby('surname')[weights].cumsum(axis = 0)
#     f1_feature_e[final] = f1_feature_e[sum_w] / f1_feature_e[divis]
        
# f1_feature_e

In [58]:
# Dummy the cat vars driver and constructor
f1_before_dummies['surname'] = pd.Categorical(f1_before_dummies.surname)
f1_before_dummies['constructor_name'] = pd.Categorical(f1_before_dummies.constructor_name)

f1_dummies = pd.get_dummies(f1_before_dummies, columns = ['surname','constructor_name'])
f1_dummies['surname'] = f1_before_dummies['surname']
f1_dummies.head()

,prior_race,exp_points_driver,exp_posistion_driver,exp_points_constructor,exp_race_scaled_performance,exp_pole_position,exp_q,pred_win,upcoming_race_result,surname_Alonso,...,constructor_name_force_india,constructor_name_haas,constructor_name_mclaren,constructor_name_mercedes,constructor_name_red_bull,constructor_name_renault,constructor_name_sauber,constructor_name_toro_rosso,constructor_name_williams,surname
0,989,10.000000,5.000000,12.000000,-0.012672,11.000000,-0.212829,0,7,1,...,0,0,1,0,0,0,0,0,0,Alonso
1,990,7.647059,6.176471,10.823529,-0.008802,12.176471,-0.059199,0,7,1,...,0,0,1,0,0,0,0,0,0,Alonso
2,991,6.894977,6.552511,8.621005,-0.012510,12.552511,-0.126491,0,7,1,...,0,0,1,0,0,0,0,0,0,Alonso
3,992,6.541650,6.729175,8.375839,0.001598,12.729175,0.029783,0,8,1,...,0,0,1,0,0,0,0,0,0,Alonso
6,995,4.182684,11.875338,5.355451,0.083675,13.187444,0.286606,0,16,1,...,0,0,1,0,0,0,0,0,0,Alonso

In [59]:
f1_dummies.isnull().sum()

prior_race                      0
exp_points_driver               0
exp_posistion_driver            0
exp_points_constructor          0
exp_race_scaled_performance     0
exp_pole_position               0
exp_q                           0
pred_win                        0
upcoming_race_result            6
surname_Alonso                  0
surname_Bottas                  0
surname_Ericsson                0
surname_Gasly                   0
surname_Grosjean                0
surname_Hamilton                0
surname_Hartley                 0
surname_Hülkenberg              0
surname_Leclerc                 0
surname_Magnussen               0
surname_Ocon                    0
surname_Pérez                   0
surname_Ricciardo               0
surname_Räikkönen               0
surname_Sainz                   0
surname_Sirotkin                0
surname_Stroll                  0
surname_Vandoorne               0
surname_Verstappen              0
surname_Vettel                  0
constructor_name_ferrari        0
constructor_name_force_india    0
constructor_name_haas           0
constructor_name_mclaren        0
constructor_name_mercedes       0
constructor_name_red_bull       0
constructor_name_renault        0
constructor_name_sauber         0
constructor_name_toro_rosso     0
constructor_name_williams       0
surname                         0
dtype: int64

In [60]:
train_sets = []
test_sets = []

for i in range(10):
    train_sets.append(f1_dummies[f1_dummies.prior_race < (989 + 11 + i)])

for i in range(10):
    test_sets.append(f1_dummies[f1_dummies.prior_race == (989 + 11 + i)])
    
# Indexes will match, index[0] in train corresponds to the index[0] in test set

In [61]:
train_sets[0].sort_values(by = 'prior_race').tail()

,prior_race,exp_points_driver,exp_posistion_driver,exp_points_constructor,exp_race_scaled_performance,exp_pole_position,exp_q,pred_win,upcoming_race_result,surname_Alonso,...,constructor_name_force_india,constructor_name_haas,constructor_name_mclaren,constructor_name_mercedes,constructor_name_red_bull,constructor_name_renault,constructor_name_sauber,constructor_name_toro_rosso,constructor_name_williams,surname
52,999,0.653035,13.589595,1.252652,-0.034043,15.354739,0.552573,0,15,0,...,0,0,0,0,0,0,1,0,0,Ericsson
31,999,12.414957,6.380213,29.311010,-0.074937,2.716354,0.005228,0,5,0,...,0,0,0,1,0,0,0,0,0,Bottas
10,999,2.358656,12.165373,2.602763,0.086978,12.888648,0.088245,0,8,1,...,0,0,1,0,0,0,0,0,0,Alonso
346,999,0.210165,16.858015,0.210165,0.141450,17.541933,0.235356,0,17,0,...,0,0,0,0,0,0,0,0,1,Stroll
409,999,10.652369,8.728430,24.400777,-0.235768,1.937568,-0.180864,0,2,0,...,0,0,0,0,0,0,0,0,0,Vettel

In [62]:
test_sets[0].sort_values(by = 'prior_race').head()

,prior_race,exp_points_driver,exp_posistion_driver,exp_points_constructor,exp_race_scaled_performance,exp_pole_position,exp_q,pred_win,upcoming_race_result,surname_Alonso,...,constructor_name_force_india,constructor_name_haas,constructor_name_mclaren,constructor_name_mercedes,constructor_name_red_bull,constructor_name_renault,constructor_name_sauber,constructor_name_toro_rosso,constructor_name_williams,surname
32,1000,11.669410,5.954113,31.067318,-0.126904,2.495201,-0.286708,0,4,0,...,0,0,0,1,0,0,0,0,0,Bottas
53,1000,0.453173,14.021252,0.869276,0.083343,14.940119,0.679739,0,10,0,...,0,0,0,0,0,0,1,0,0,Ericsson
74,1000,2.994650,11.482126,3.210755,0.043845,11.695222,-0.018526,0,9,0,...,0,0,0,0,0,0,0,1,0,Gasly
95,1000,2.063260,12.009765,5.654813,0.049402,9.932016,0.540150,0,7,0,...,0,1,0,0,0,0,0,0,0,Grosjean
116,1000,19.295842,3.732563,31.071853,-0.180456,4.328556,-0.600027,0,2,0,...,0,0,0,1,0,0,0,0,0,Hamilton

In [63]:
train_sets[9].sort_values(by = 'prior_race').tail()

,prior_race,exp_points_driver,exp_posistion_driver,exp_points_constructor,exp_race_scaled_performance,exp_pole_position,exp_q,pred_win,upcoming_race_result,surname_Alonso,...,constructor_name_force_india,constructor_name_haas,constructor_name_mclaren,constructor_name_mercedes,constructor_name_red_bull,constructor_name_renault,constructor_name_sauber,constructor_name_toro_rosso,constructor_name_williams,surname
397,1008,17.542640,2.904822,24.012895,-0.286103,6.058827,-0.587057,0,3,0,...,0,0,0,0,1,0,0,0,0,Verstappen
334,1008,0.035352,14.986246,0.111763,0.221722,17.052713,0.608730,0,15,0,...,0,0,0,0,0,0,0,0,1,Sirotkin
103,1008,1.439780,13.538385,2.863632,0.836039,10.210681,0.475407,0,9,0,...,0,1,0,0,0,0,0,0,0,Grosjean
208,1008,1.273617,13.433682,3.157429,0.007579,12.714432,0.296562,0,10,0,...,0,1,0,0,0,0,0,0,0,Magnussen
418,1008,12.388298,4.340449,27.562011,-0.258164,3.296369,-0.239044,0,2,0,...,0,0,0,0,0,0,0,0,0,Vettel

In [64]:
test_sets[9].sort_values(by = 'prior_race').head()

,prior_race,exp_points_driver,exp_posistion_driver,exp_points_constructor,exp_race_scaled_performance,exp_pole_position,exp_q,pred_win,upcoming_race_result,surname_Alonso,...,constructor_name_force_india,constructor_name_haas,constructor_name_mclaren,constructor_name_mercedes,constructor_name_red_bull,constructor_name_renault,constructor_name_sauber,constructor_name_toro_rosso,constructor_name_williams,surname
20,1009,0.701808,14.402516,1.320304,0.227982,14.766354,-0.016441,0,None,1,...,0,0,1,0,0,0,0,0,0,Alonso
377,1009,0.592444,12.968098,0.931399,0.118255,18.600778,0.034157,0,None,0,...,0,0,1,0,0,0,0,0,0,Vandoorne
356,1009,0.055173,14.510766,0.079907,0.191454,18.611918,0.208961,0,9,0,...,0,0,0,0,0,0,0,0,1,Stroll
335,1009,0.024734,14.990377,0.078196,0.174810,17.637566,0.328127,0,None,0,...,0,0,0,0,0,0,0,0,1,Sirotkin
272,1009,10.654647,8.969437,26.035841,0.478432,4.249303,-0.049617,0,8,0,...,0,0,0,0,0,0,0,0,0,Räikkönen

# PREDICTIVE STUFF

### Naive Bayes, Random Forest, Logistic -> Model Average

In [83]:
all_features = f1_dummies.columns.tolist()
dont_use = ['prior_race', 'pred_win', 'upcoming_race_result', 'surname']

used_features = [i for i in all_features if i not in dont_use] 

gnb = GaussianNB()

results = []
for i in range(0, len(train_sets)):
    gnb.fit(
        train_sets[i][used_features].values,
        train_sets[i]["pred_win"]
    )
    
    y_pred = gnb.predict_proba(test_sets[i][used_features])

    results.append(test_sets[i].copy())

    results[i]['nb_preds'] = y_pred[:,1].tolist()

results[9].head()

,prior_race,exp_points_driver,exp_posistion_driver,exp_points_constructor,exp_race_scaled_performance,exp_pole_position,exp_q,pred_win,upcoming_race_result,surname_Alonso,...,constructor_name_haas,constructor_name_mclaren,constructor_name_mercedes,constructor_name_red_bull,constructor_name_renault,constructor_name_sauber,constructor_name_toro_rosso,constructor_name_williams,surname,nb_preds
20,1009,0.701808,14.402516,1.320304,0.227982,14.766354,-0.016441,0,None,1,...,0,1,0,0,0,0,0,0,Alonso,0.0
41,1009,11.275235,4.567567,32.990751,-0.184327,3.085392,-0.166083,1,1,0,...,0,0,1,0,0,0,0,0,Bottas,0.0
62,1009,0.282337,14.609381,2.881620,0.188205,15.250433,0.346471,0,None,0,...,0,0,0,0,0,1,0,0,Ericsson,0.0
83,1009,0.521458,14.835902,0.833479,0.305332,13.627367,-0.216313,0,11,0,...,0,0,0,0,0,0,1,0,Gasly,0.0
125,1009,21.710683,1.772799,32.990273,-0.242798,1.525917,-0.294216,0,2,0,...,0,0,1,0,0,0,0,0,Hamilton,1.0